<h1>Сетевые запросы к системе</h1>

<%= paginate @http_requests %>
<table>
  <thead>
    <tr>
      <th>Дата</th>
      <th>Parameters</th>
      <th>IP</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @http_requests.each do |http_request| %>
      <tr>
        <td><%= http_request.created_at.strftime("%c") %></td>
        <td><%= http_request.parameters %></td>
        <td><%= http_request.ip_address %></td>
        <td><%= link_to 'Show', http_request %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @http_requests %>

<br>

<%= link_to 'New Http request', new_http_request_path %>
