<h4>Приход</h4>
<table class="table">
  <thead>
    <th>#</th>
    <th>Дата</th>
    <th>От кого</th>
    <th>Кому</th>
    <th>Сумма</th>
    <th>Тип</th>
    <th>Назначение</th>
    <th>Приход/Расход</th>
    <th>Ввёл</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <% records.each do |r| %>
      <tr>
        <td><%= link_to r.id, r %></td>
        <td><%= r.o_date %></td>
        <td><%= r.from.try :name %></td>
        <td><%= r.to_user.try :name %></td>
        <td><%= r.amount %></td>
        <td><%= r.money_type_operation.name %></td>
        <td><%= r.description %></td>
        <td><%= r.io_type_operation.name %></td>
        <td><%= r.user.try(:name) || r.user.email %></td>
        <td><%=link_to "Изменить", edit_operation_path(r), class: "btn btn-primary" %></td>
        <td><%=link_to "Удалить", operation_path(r), method: :delete, confirm: "Вы уверены?", class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
