<%= content_for :side_menu do %>
  <li><%= link_to "Добавить счёт", new_bank_book_path %></li>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th>№ Счёта</th>
      <th>Наименование</th>
      <th>Прикрепленные банковские счета</th>
      <th>Сумма</th>
      <th>Дневное сальдо</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bank_books.each do |bank_book| %>
        <% if can? :manage, bank_book %>
        <tr>
          <td><%= bank_book.id %></td>
          <td><%= bank_book.name %></td>
          <td><%= bank_book.bank_account %></td>
          <td><%= bank_book.amount %></td>
          <td><%= bank_book.saldo %></td>
          <td><%= link_to 'Открыть', bank_book, class: "btn btn-primary" %></td>
          <td><%= link_to 'Редактировать', edit_bank_book_path(bank_book), class: "btn" %></td>
          <td><%= link_to 'Удалить', bank_book, method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

