
<%= content_for :side_menu do %>

  <li><%= link_to "Добавить операцию", new_bank_book_operation_path(@bank_book)  %></li>
  <li><%= link_to 'Редактировать', edit_bank_book_path(@bank_book) %></li>
<% end %>



<div class="row">

    <blockquote class="pull-right">
      <p>
        <strong>Лицевой счёт:</strong>
         <%= @bank_book.name %> - <%= @bank_book.id %>
      </p>
      <p>
        <strong>Состояние на <%= @bank_book.updated_at.strftime("%Y-%m-%d %H:%M") %></strong>
      <p>
        <strong>Сумма:</strong>
        <%= number_to_currency @bank_book.amount %>
      </p>

      <p>
        <strong>Сальдо:</strong>
        <%= number_to_currency @bank_book.saldo %>
      </p> 
    </blockquote>
</div>
<div class="row">

  <div class="span12">
    <%= render partial: 'account_table', locals: {records: @bank_book.operations} %>
  </div>

</div>
